<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="signup()" [formGroup]="form">
    <ion-item lines="full">
      <ion-label position="floating">First name</ion-label>
      <ion-input type="text" required formControlName="firstName"></ion-input>
    </ion-item> 

    <ion-item lines="full">
      <ion-label position="floating">Last name</ion-label>
      <ion-input type="text" required formControlName="lastName"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required formControlName="email"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required formControlName="password"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block" [disabled]="form.invalid">Sign Up</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <div class="ion-text-center">If you already have an account, please <a routerLink='/login'>
          log in</a> instead.
      </div>
  </ion-row>
  </form>

</ion-content>
